.banner__container {
  height: 300px;
  display: block;
  position: relative;
  overflow: hidden;
  background-image: url("../../resources/images/tasha-1.webp");
  background-color: #cccccc;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
}
